html {
	height: 100%;
}

/* The background of the game*/
/* The day of the game*/
body {
	height: 100%;
	border-top: 1px solid black;
	margin: -1px 0 0 0;
	padding: 0px;
	background-color: white;
	transition: background-color 1400ms linear;
	-webkit-transition: background-color 1400ms linear;
	-moz-transition: background-color 1400ms linear;
	-ms-transition: background-color 1400ms linear;
	-o-transition: background-color 1400ms linear;
}

/*The night of the game*/
body.night {
	background-color: black;
}

/*The pause of the game*/
body.paused:before {
	display: block;
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

/*The Pause Icon*/
#pauseIcon {
	z-index: 3;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	opacity: 0.2;
	transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

#pauseIcon:hover {
	opacity: 1;
}

#pauseIcon:before,
#pauseIcon:after {
	height: 80%;
	width: 20%;
	content: ' ';
	display: block;
	position: absolute;
	top: 20%;
	background: black;
	transition: background 1400ms linear;
	-webkit-transition: background 1400ms linear;
	-moz-transition: background 1400ms linear;
	-ms-transition: background 1400ms linear;
	-o-transition: background 1400ms linear;
}

#pauseIcon:before {
	left: 20%;
}

#pauseIcon:after {
	right: 20%;
}

.paused #pauseIcon {
	opacity: 1;
	height: 100px;
	width: 100px;
	top: 50%;
	right: 50%;
	margin-top: -50px;
	margin-right: -50px;
	z-index: 2000;
}

.night #pauseIcon:before,
.night #pauseIcon:after {
	background: white;
}

.titleScreen #pauseIcon {
	display: none;
}

/*Test Part*/
#test {
	position: absolute;
	left: 10px;
	top: 40px;
	display:inline-block; 
	padding:5px; 
	height: 10px;
	width: 10px;
	margin:auto;
	border:1px solid black;
	background-color: red;
	z-index: 101;
}

.hidden {
	opacity: 0 !important;
	cursor: default !important;
	transition: opacity 200ms linear !important;
	-webkit-transition: opacity 200ms linear !important;
	-moz-transition: opacity 200ms linear !important;
	-ms-transition: opacity 200ms linear !important;
	-o-transition: opacity 200ms linear !important;
}

#gameContainer {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -244px;
	z-index: 1;
}

/** Loading Screen **/
#loadingScreen {
	z-index: 100;
	position: absolute;
	left: 50%;
	margin-left: -300px;
    width: 600px;
    height: 300px;
    background: url(image/Gridlandtitle.png) top left no-repeat;
    transition: opacity 700ms linear;
    -webkit-transition: opacity 700ms linear;
    -moz-transition: opacity 700ms linear;
    -ms-transition: opacity 700ms linear;
    -o-transition: opacity 700ms linear;
}

#loadingScreen.hidden {
	z-index: -1;
}

#loadingScreen .saveSpinner {
	width: 80px;
	height: 80px;
	opacity: 1;
	width: 80px;
    bottom: 0px;
    top: auto;
    left: 50%;
    margin-left: -40px;
}

.longload {
	position: absolute;
    bottom: -100px;
    font-size: 1.5em;
    line-height: 40px;
    text-align: center;
    width: 100%;
}

.longload a {
	display: block;
}

@media screen and (min-height: 860px) {
	#loadingScreen {
		top:20%
	}
}

@media screen and (max-height: 860px) {
	#loadingScreen {
		top: 5%;
	}
}

@media screen and (max-width: 590px) {
	.saveSlots {
		transform: scale(1.5);
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		top: 175px;
	}
}